<h1>Homepage</h1>

<div>
<%= link_to 'Start Scan', scan_directories_path, :id => 'scan-button', :method => :post, :remote => true %>
</div>

<br>
<br>

<div>
  Now we have <%= Directory.count %> directories that contains movies.  <%= link_to 'Go to see more >>', directories_path %>
</div>